<a href="/schema/<%= schema %>/<%= table %>">🔙</a>
<link href="/stylesheets/record.css" rel="stylesheet" />
<%
    let view;
    let action = `/schema/${schema}/${table}/`;
    if(typeof record == "undefined"){
        action += "create";
        view = "create";
    } else {
        view = "edit";
        action += record.id;
    }
%>
<form action="<%=action%>" method="post">
    <table>
        <% 
            for (let i = 0; i < columns.length; i++) { 
                const column = columns[i].column_name;
        %>
                <tr>
                    <td class="label">
                        <label for="dba-<%= column %>">
                            <%= columns[i].column_name %>
                        </label>
                    </td>
                    <td class="value">
                        <%
                            let value;
                            let datatype = columns[i].data_type;
                            let inputType = "number";
                            if(view == "edit") value = Object.values(record)[i];
                            if(datatype == "integer") { 
                                const tempForeignRecords = foreignRecords[column] || [];
                                if(tempForeignRecords.length) inputType = "text";
                        %>
                                <datalist id="dba-list-<%= column %>" name="<%= column %>" value="<%= value %>">
                                    <% 
                                        for (let r of tempForeignRecords) { 
                                            const selected = r.id == value ? "selected" : "";
                                    %>
                                        <option value="<%= r.id %>" <%= selected %>>
                                            <%= r.name %>
                                        </option>
                                    <% } %>
                                </datalist>
                                <input 
                                id="dba-<%= column %>"
                                list="dba-list-<%= column %>"
                                name="<%= column %>"
                                value="<%= value %>"
                                type="<%= inputType %>" 
<% if(tempForeignRecords.length) { %> placeholder="Search" <% } %>
                                />
                                
                        <% 
                            } else if (datatype == "timestamp with time zone") {
                        %>
                                <input 
                                id="dba-<%= column %>" 
                                name="<%= column %>" 
                                <% if(value) { %> value="<%= value.toISOString().slice(0, 23) %>" <% } %>
                                type="datetime-local" />
                        <%
                            } else { 
                        %>
                                <input 
                                id="dba-<%= column %>" 
                                name="<%= column %>" 
                                value="<%= value %>" 
                                type="text" />
                        <% } %>
                    </td>
                </tr>
        <% 
            } 
        %>
    </table>

    <a href="/schema/<%= schema %>/<%= table %>">Cancel</a>
    <input type="submit" />
    <% if(view == "edit") { %>
        <input type="button" onclick="deleteRecord(this)" value="Delete">
    <% } %>
</form>

<script>
<% if(view == "edit") { %>
    async function deleteRecord(){
        const message = `Are you sure you want to delete the following record?\n<%=record.id%>. <%=record.name%>`;
        if(!confirm(message)) return;
        await fetch("/schema/<%=schema%>/<%=table%>/<%= record.id %>", { method: "delete" });
        location.href="/schema/<%=schema%>/<%=table%>";
    }
<% } %>
</script>