<a href="/schema/<%= schema %>/<%= table %>">🔙</a>
<link href="/stylesheets/record.css" rel="stylesheet" />
<%
    let view;
    let action = `/schema/${schema}/${table}/`;
    if(typeof record == "undefined"){
        view = "create";
    } else {
        view = "edit";
        action += record.id;
    }
%>

<form action="<%=action%>" method="post">
    <table>
        <% 
            for (let i = 0; i < columns.length; i++) { 
                const column = columns[i].column_name;
        %>
                <tr>
                    <td class="label">
                        <label for="dba-<%= column %>">
                            <%= columns[i].column_name %>
                        </label>
                    </td>
                    <td class="value">
                        <%
                            let value;
                            let datatype = columns[i].data_type;
                            if(view == "edit") value = Object.values(record)[i];
                            if(datatype == "integer") { 
                             if(foreignRecords[column]) { %>
                                <select id="dba-<%= column %>" name="<%= column %>" value="<%= value %>">
                                    <% 
                                    for (let r of foreignRecords[column]) { 
                                        const innerText = `${r.name} [${r.id}]`;
                                        const selected = r.id == value ? "selected" : "";
                                    %>
                                        <option value="<%= r.id %>" <%= selected %>>
                                            <%=innerText%>
                                        </option>
                                    <% } %>
                                </select>
                                <% } else { %>
                                    <input 
                                    id="dba-<%= column %>"
                                    name="<%= column %>"
                                    value="<%= value %>"
                                    type="number" />
                                <% } %>
                        <% 
                            } else if (datatype == "timestamp with time zone") {
                        %>
                                <input 
                                id="dba-<%= column %>" 
                                name="<%= column %>" 
                                <% if(value) { %> value="<%= value.toISOString().slice(0, 23) %>" <% } %>
                                type="datetime-local" />
                        <%
                            } else { 
                        %>
                                <input 
                                id="dba-<%= column %>" 
                                name="<%= column %>" 
                                value="<%= value %>" 
                                type="text" />
                        <% } %>
                    </td>
                </tr>
        <% 
            } 
        %>
    </table>

    <a href="/schema/<%= schema %>/<%= table %>">Cancel</a>
    <input type="submit" />
</form>