<a href="/schema/<%= schema %>/<%= table %>">🔙</a>
<link href="/stylesheets/record.css" rel="stylesheet" />
<form action="/schema/<%= schema %>/<%= table %>/<%= record.id %>" method="post">
    <table>
        <% for (let i = 0; i < record.values.length; i++) { %>
            <tr>
                <td class="label">
                    <label for="dba-<%= columns[i].column_name %>">
                        <%= columns[i].column_name %>
                    </label>
                </td>
                <td class="value">
                    <% if(columns[i].data_type == "integer") { %>
                    <input 
                        id="dba-<%= columns[i].column_name %>" 
                        name="<%= columns[i].column_name %>" 
                        value="<%= record.values[i] %>"
                        type="number"
                    />
                    <% } else { %>
                    <input 
                        id="dba-<%= columns[i].column_name %>" 
                        name="<%= columns[i].column_name %>" 
                        value="<%= record.values[i] %>"
                        type="text"
                    />
                    <% } %>
                </td>
            </tr>
        <% } %>
    </table>

    <a href="/schema/<%= schema %>/<%= table %>">Cancel</a>
    <input type="submit" />
</form>