<a href="/schema/<%= schema %>/<%= table %>">🔙</a>
<link href="/stylesheets/record.css" rel="stylesheet" />
<form action="">
    <table>
        <% for (let i = 0; i < record.values.length; i++) { %>
            <tr>
                <td class="label">
                    <label for="dba-<%= columns[i].name %>">
                        <%= columns[i].name %>
                    </label>
                </td>
                <td class="value">
                    <input id="dba-<%= columns[i].name %>" value="<%= record.values[i] %>">
                </td>
            </tr>
        <% } %>
    </table>
</form>