<%- include('../partials/header') -%>
    <a href="/">Home</a>
    <h1>
        <%= title %>
    </h1>
    <table border="1" class="mdl-data-table mdl-js-data-table">
        <thead>
            <% if(records.length > 0){ %>
                <tr>
                    <% Object.keys(records[0]).forEach(attr => { %>
                        <th class="mdl-data-table__cell--non-numeric">
                            <%= attr %>
                        </th>
                        <% }); %>
                </tr>
                <% } %>
        </thead>
        <tbody>
            <% records.forEach(record => { %>
                <tr>
                    <% Object.keys(record).forEach(attribute => { %>
                        <td class="mdl-data-table__cell--non-numeric">
                            <%= record[attribute] %>
                        </td>
                        <% }); %>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <%- include('../partials/footer') -%>